/* Componentes */

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column-center {
  @include flex;
  flex-direction: column;
  justify-content: center;
}

@mixin col-igual {
  flex: 1 0 0;
}

@mixin col-1-2 {
  flex: 0 0 49%;
}

@mixin col-1-4 {
  flex: 1 0 0;
}

@mixin col-3-4 {
  flex: 3 0 0;
}

@mixin col-3-3 {
  flex: 0 0 31.5%;
}

@mixin col-2-5 {
  flex: 2 0 0;
}

@mixin col-3-5 {
  flex: 3 0 0;
}

@mixin nosotros-icono-color($color) {
  img {
    background-color: $color;
  }
}

@mixin servicios-color($color) {
  h3 {
    border-bottom: 2px solid $color;
  }
  img {
    background-color: $color;
  }
  li {
    &::before {
      content: "▪";
      color: $color;
      display: inline-block;
      padding-right: 0.75vh;
    }
  }
}

@mixin servicios-lista-fondo($color) {
  background-color: $color;
}


@mixin responsive($min-device-width) {
  @media only screen and (min-device-width: $min-device-width) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin responsive-orientation($min-device-width, $orientation) {
  @media only screen and (min-device-width: $min-device-width) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

$verde-a: #0e2d1d;
$verde-b: #2c4739;
$verde-c: #267a4f;
$verde-d: #4b7a62;
$gris-a: #4e4e4e;
$gris-b: #ebebeb;
$gris-c: #d1d1d1;
$gris-d: #3c3c3c;
