@import "../../assets/scss/styles.scss";

.nosotros {
  & > div {
    @include flex;
  }
  .guia {
    &__lista {
      @include flex-column-center;
      margin-top: 2vh;
    }
    &__item {
      @include flex;
      flex-wrap: wrap;
      width: fit-content;
      margin-bottom: 2vh;
      &:nth-child(1),
      &:nth-child(4) {
        @include nosotros-icono-color($verde-b);
      }
      &:nth-child(2),
      &:nth-child(5) {
        @include nosotros-icono-color($verde-c);
      }
      &:nth-child(3) {
        @include nosotros-icono-color($verde-d);
      }
    }
    &__subtitulo {
      @include flex-column-center;
      padding-left: 1vh;
    }
    &__icono {
      padding: 0.5vh;
      background-color: $verde-d;
    }
  }
}

@include responsive-orientation(320px, portrait) {
  .guia {
    &__icono {
      width: 7vw;
      height: 7vw;
    }
  }
}

@include responsive(1280px) {
  .nosotros {
    & > div {
      margin-top: 5vh;
      @include col-igual;
      flex-direction: column;
      justify-content: flex-start;
    }
    .guia {
      &__lista {
        @include flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      &__item {
        flex: 0 0 49%;
      }
      &__icono {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
