@import "../../assets/scss/styles.scss";

.servicios {
  &__contenido-titulo {
    width: fit-content;
    padding-bottom: 1vh;
  }
  &__lista {
    width: 100%;
    @include flex;
    list-style: none;
    justify-content: space-between;
  }
  &__icono {
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vh;
  }
  &__contenido {
    /* Este contenido está en el WYSYWYG de Strapi */
    ul {
      list-style-type: none;
      margin-top: 2vh;
      & > li {
        font-weight: 400;
        padding: 1vh;
        &:nth-child(odd) {
          @include servicios-lista-fondo(white);
        }
        &:nth-child(even) {
          @include servicios-lista-fondo($gris-b);
        }
      }
    }
    &:nth-child(1) {
      @include servicios-color($verde-b);
    }
    &:nth-child(2) {
      @include servicios-color($verde-c);
    }
    &:nth-child(3) {
      @include servicios-color($verde-d);
    }
  }
}

@include responsive-orientation(320px, portrait) {
  .servicios {
    &__contenido {
      margin-bottom: 4vh;
      ul {
        & > li {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }
    }
    &__icono {
      width: 10vw;
      height: 10vw;
    }
    &__contenido-titulo {
      line-height: 2rem;
    }
  }
}

@include responsive-orientation(568px, landscape) {
  .servicios {
    &__lista {
      margin-top: 1vh;
    }
    &__contenido {
      @include col-3-3;
      /* Este contenido está en el WYSYWYG de Strapi */
      ul {
        & > li {
          font-size: 0.6rem;
          line-height: 0.8rem;
        }
      }
    }
    &__icono {
      width: 3.25vw;
      height: 3.25vw;
    }
    &__contenido-titulo {
      font-size: 0.9rem;
    }
  }
}

@include responsive-orientation(768px, portrait) {
  .servicios {
    &__lista {
      margin-top: 1vh;
    }
    &__contenido {
      @include col-3-3;
      /* Este contenido está en el WYSYWYG de Strapi */
      ul {
        & > li {
          font-size: 0.75rem;
          line-height: 1rem;
        }        
      }
    }
    &__icono {
      width:5.5vw;
      height:5.5vw;
    }
  }
}

@include responsive-orientation(1024px, landscape) {
  .servicios {
    align-content: flex-start;
    &__contenido {
      /* Este contenido está en el WYSYWYG de Strapi */
      ul {
        & > li {
          font-size: 0.75rem;
          line-height: 1.1rem;
        }        
      }
    }
    &__icono {
      width:3.5vw;
      height:3.5vw;
    }
  }
}

@include responsive(1280px) {
  .servicios {
    &__lista {
      margin-top: 4vh;
    }
    &__contenido {
      ul {
        & > li {
          font-size: 0.9rem;
          line-height: 1.15rem;
        }
      }
    }
    &__icono {
      width: 2.5vw;
      height: 2.5vw;
    }
  }
}
