@import "../../../assets/scss/styles.scss";

.header {
  width: 100%;
  box-sizing: border-box;
  .contenedor-principal {
    & > div,
    & > nav {
      @include flex;
    }
  }
  &__logo-contenedor {
    background-color: $verde-a;
    a {
      cursor: pointer;
    }
  }
  &__logo {
    justify-content: flex-start;
    align-content: flex-end;
  }
  &__menu {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      li {
        width: fit-content;
        background-color: $verde-b;
        button {
          text-decoration: none;
          color: white;
          font-size: 0.9rem;
          font-weight: 400;
          margin: 0;
          padding: 0;
          border-radius: 0;
          background-color: transparent;
        }
      }
    }
  }
}

@include responsive-orientation(320px, portrait) {
  .header {    
    &__logo-contenedor {
      width: 30vw;
      height: 30vw;
      padding: 4vh 3vh;
    }
    &__menu {
      /* display: none !important; */
    }
  }
}

@include responsive(1280px) {
  .header {
    height: 30vh;
    padding: 4vh;
    &__logo-contenedor {
      width: 11vw;
      height: 11vw;
      padding: 4vh 3vh;
    }
    &__logo {
      flex: 1 0 0;
      justify-content: center;
    }
    &__menu {
      flex: 4 0 0;
      flex-direction: column;
      justify-content: flex-end;
      ul {
        li {
          flex: 1 1 1;
          padding: 1.5vh 4vh;
        }
      }
    }
  }
}
