@import "../../assets/scss/styles.scss";

.inicio {
  & > div {
    @include flex-column-center;
  }
}

@include responsive-orientation(320px, portrait) {
  .inicio {
    &__imagen {
      width: 80%;
      margin: 4vh auto;
    }
  }
}

@include responsive-orientation(568px, landscape) {
  .inicio {
    .contenedor--izq {
      @include col-3-5;
    }
    .contenedor--der {
      @include col-2-5;
    }
    &__imagen {
      width: 75%;
      margin: 0 auto;
    }
  }
}

@include responsive-orientation(768px, portrait) {
  .inicio {
    .contenedor--izq {
      @include col-3-5;
    }
    .contenedor--der {
      @include col-2-5;
    }
    &__imagen {
      width: 90%;
    }
  }
}

@include responsive(1280px) {
  .inicio {
  }
}
