@use "../../../assets/scss/variables" as *;




.about {
  width: 100%;
  min-height: 100dvh !important;
  padding: 10dvh 0;
  background-color: var(--gray-e);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;

  .container-main {
    width: min(1280px, 90vw) !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      border-bottom: 5px solid var(--green-c);
    }

    .title,
    .description {
      text-align: center;
    }

    .guia {
      width: 100%;
      margin-top: 5vh;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__list {
        width: 100%;

        list-style: none;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4vh 0;
      }

      &__item {
        max-width: calc(20% - 2vw);
        min-width: 200px;
        padding: 0 1vw;
        margin: 0 1vw;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &__icon {
          width: 60px;
          height: 60px;
          padding: 0.5rem;

          display: flex;
          align-items: center;
          justify-content: center;
          object-fit: contain;
        }

        &__subtitle {
          margin-top: 2vh;
          margin-bottom: 0.5rem;

          font-size: 1.15rem;
          font-weight: 700;
          color: var(--gray-a);
        }
      }

      .description {
        margin-bottom: 3vh;
      }
    }
  }
}

.guia__list {
  > .guia__item:nth-child(1) .guia__item__icon {
    background-color: var(--green-e);
  }
  > .guia__item:nth-child(2) .guia__item__icon {
    background-color: var(--green-d);
  }
  > .guia__item:nth-child(3) .guia__item__icon {
    background-color: var(--green-c);
  }
  > .guia__item:nth-child(4) .guia__item__icon {
    background-color: var(--green-b);
  }
  > .guia__item:nth-child(5) .guia__item__icon {
    background-color: var(--green-a);
  }
}

/* Mobile Portrait (320px) */
@include custom-respond-to(320) {
  @media (orientation: portrait) {
    .guia {
      &__title {
        margin-top: 3vh;
      }

      &__icono {
        width: 7vw;
        height: 7vw;
      }
    }
  }
}

/* Mobile Landscape (568px) */
@include custom-respond-to(568) {
  @media (orientation: landscape) {
    .about {
      & > div {
        flex-direction: column;
        justify-content: flex-start;
      }

      .guia {
        &__list {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }

        &__icono {
          width: 2.75vw;
          height: 2.75vw;
        }

        &__subtitle {
          font-size: 0.67rem;
        }
      }
    }
  }
}

/* Tablet Portrait (768px) */
@include custom-respond-to(768) {
  @media (orientation: portrait) {
    .about {
      & > div {
        flex-direction: column;
        justify-content: flex-start;
      }

      .guia {
        &__icono {
          width: 4vw;
          height: 4vw;
        }

        &__subtitle {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/* Tablet Landscape (1024px) */
@include custom-respond-to(1024) {
  @media (orientation: landscape) {
    .about {
      .guia {
        &__icono {
          width: 2.5vw;
          height: 2.5vw;
        }

        &__subtitle {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/* Desktop (1280px) */
@include custom-respond-to(1280) {
  .about {
    .guia {
      &__subtitle {
        font-size: 1rem;
      }

      &__icono {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
