@use "../../../assets/scss/variables" as *;

.contact {
  width: 100%;
  min-height: 100vh !important;
  padding: 10dvh 0;

  box-sizing: border-box;

  background: url("../../../assets/images/contact/bg-contact.webp") center/cover
    fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  .container-main {
    width: min(1024px, 90vw);

    height: fit-content;
    padding: 4vh 4vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      border-bottom: 3px solid var(--green-c);
    }

    .title,
    .description {
      color: var(--gray-e) !important;

      text-align: center;
    }
  }

  .wrapper {
    width: 100%;
    margin-top: 5vh;

    display: flex;
    flex-direction: column;

    @include custom-respond-to(768) {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-areas: "form image";
      gap: 2vw;
    }

    &__image {
      grid-area: image;

      width: 100%;
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 2vh;

      transition: transform 0.3s ease;
    }

    .form {
      grid-area: form;

      display: flex;
      flex-direction: column;
      gap: 15px;

      span {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: 15px;
      }

      &__input-text,
      &__input-email,
      &__textarea {
        width: 100%;

        @include custom-respond-to(1024) {
          width: calc(50% - 7.5px);
        }

        font-size: 0.9rem;
        padding: 12px;
        border-radius: 4px;
        border: 1px solid var(--gray-c);
        transition: border-color 0.3s ease;
        resize: none;

        &:focus {
          border-color: var(--green-c);
          outline: none;
        }
      }

      &__textarea {
        width: 100%;
        min-height: 120px;
      }

      &__button {
        margin: 0;
      }

      &__error {
        width: 100%;
        padding: 1vh 1vw;
        background: #ed3f32;
        color: #f5f5f5;
        font-weight: 600;
      }
    }
  }
}
