@import "../../assets/scss/styles.scss";

.especialidades {
  .contenedor--izq,
  .contenedor--der {
    @include flex;
  }
  &__imagen {
    @include col-igual;
    height: fit-content;
  }
  &__contenido {
    @include flex-column-center;
    @include col-igual;
    padding-left: 2vh;
  }
}

@include responsive-orientation(320px, portrait) {
  .especialidades {
    &__subtitulo {
      line-height: 1.2rem;
    }
    .descripcion {
      margin-bottom: 3vh;
    }
  }
}

@include responsive(1280px) {
  .especialidades {
    .contenedor--izq,
    .contenedor--der {
      @include col-igual;
    }
  }
}
