@import "../../assets/scss/styles.scss";

.contacto {
  .contenedor--izq,
  .contenedor--der {
    @include flex-column-center;
  }
  &__imagen {
    width: 100%;
  }
  &__formulario-grupo {
    @include flex;
  }
  &__input-text,
  &__input-email {
    font-size: 0.9rem;
  }
  &__textarea {
    width: 100%;
  }
}

@include responsive-orientation(320px, portrait) {
  .contacto {
    &__imagen {
      width: 65%;
      margin: 2vh 0 3vh 0;
    }
    &__input-text,
    &__input-email,
    &__textarea {
      font-size: 0.8rem;
    }
    &__input-text,
    &__input-email {
      width: 100%;
      margin-bottom: 2vh;
    }
    &__textarea {
      height: 15vh;
      position: relative;
      &::placeholder {
        line-height: 2rem;
      }
    }
  }
}

@include responsive(1280px) {
  .contacto {
    &__imagen {
      width: 92.5%;
    }
    .contenedor--izq {
      @include col-1-4;
    }
    .contenedor--der {
      @include col-3-4;
    }
    &__input-text,
    &__input-email {
      @include col-1-2;
      margin-bottom: 0;
    }
    &__formulario-grupo {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2vh;
    }
  }
}
