@import "../../../assets/scss/styles.scss";

.footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  & > div,
  & > p {
    @include flex;
  }
  &__rsss {
    @include flex;
    flex: 1 0 0;
    justify-content: flex-start;
  }
  &__item {
    @include flex;
    justify-content: flex-start;
    align-content: center;
    flex: 1 1 0;
    width: 2vw;
    height: 2vw;
    background-image: url(../../../assets/images/rrss-bg.svg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 0.8rem;
    svg {
      color: $verde-a;
      margin-left: 1vh;
    }
  }
  &__logo-novanet {
    width: 5vw;
    @include flex;
    align-content: center;
    margin-left: 0.5vh;
  }
  &__copy {
    @include flex;
    align-content: center;
    flex: 5 0 0;
    font-size: 0.9rem;
  }
}

@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    height: 15vh;
  }
}
